# Compiled output
**/**/dist
**/**/out
**/**/build

# Turborepo
.turbo

# Typescript
*.tsbuildinfo
next-env.d.ts

# Next.JS
**/**/.next

# Dependencies
**/**/node_modules
/.pnp
.pnp.js
package-lock.json

# Logs
**/**/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# vercel
.vercel

# local env files
.env*.local

# Tests
**/**/coverage
**/**/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json